@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background: url(./images/pattern-background-desktop.svg) no-repeat;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}

.card {
    box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.3);
    border-radius: 2%;
  width: 350px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding-bottom: 50px;
}
p {
  color: gray;
}
.p1 {
  text-align: center;
}
.image img {
  width: 350px;
  border-radius: 2% 2% 0 0;
}

.body {
  margin: 0;
  padding: 20px;
  padding-top: 2%;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.col1 {
  display: inline-flex;
  flex-wrap: nowrap;
}

.col1 div {
  margin-left: 10px;
}

.col1 h3 {
  font-weight: 700;
}

h1 {
  font-weight: 900;
  text-align: center;
}

.btn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

button {
  border: 2px solid hsl(245, 75%, 52%);
  width: 100%;
  height: 35px;
  color: white;
  font-size: 16px;
  background-color: hsl(245, 75%, 52%);
  text-align: center;
  font-weight: 800;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 28px 18px -4px hsl(225, 100%, 94%);
}

button:hover {
  cursor: pointer;
  background-color: hsl(224, 23%, 55%);
  border: 2px solid hsl(224, 23%, 55%);
}

.btn a {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}

.col a {
  color: hsl(245, 75%, 52%);
  font-weight: bolder;
}

.col a:hover {
  cursor: pointer;
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}
.btn a {
  color: hsl(224, 23%, 55%);
  font-weight: bolder;
}

.btn a:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

@media (max-width: 480px) {
  body {
    background: url(./images/pattern-background-mobile.svg) no-repeat;
    background-color: hsl(225, 100%, 94%);
  }
  .card {
    width: 300px;
    height: 400px;
  }
  .image img {
    width: 300px;
    border-radius: 2% 2% 0 0;
  }
  .body {
    padding: 50px;
    padding-top: 2%;
  }
  h1 {
    font-size: 16px;
    text-align: center;
  }
  body {
    font-size: 12px;
  }
  button {
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 220px;
    height: 300px;
  }
  .image img {
    width: 220px;
  }
  .body {
    padding: 20px;
    padding-top: 2%;
  }
  body {
    font-size: 10px;
  }

  button {
    margin-bottom: 20px;
  }
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
